In [0]:
%pyspark

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('spark-dataframe').getOrCreate()
spark

%pyspark

In [2]:
%pyspark
filepath = 'file:////home/ubuntu/working/spark-examples/data/titanic_train.csv'

# inferSchema=True : 
titanic_sdf = spark.read.csv(filepath, inferSchema = True, header = True)

In [3]:
%pyspark

z.show(titanic_sdf)

In [4]:
%pyspark


titanic_df_describe = titanic_sdf.select(['Parch']).describe()
z.show(titanic_df)

%pyspark

%pyspark

In [7]:
%pyspark
titanic_final_data = titanic_sdf.select(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare','','PassengerId'])
z.show(titanic_final_data)

In [8]:
%pyspark

titanic_final_data.createOrReplaceTempView("titanic_final")

In [9]:
%pyspark

query = '''
SELECT
    COUNT(Survived) 
FROM titanic_final
WHERE Survived = 1;
'''

z.show(spark.sql(query))

In [10]:
%pyspark
query = '''
SELECT
    COUNT(Survived) AS Survived_female
FROM titanic_final
WHERE Survived = 1 AND Sex = 'female';
'''

z.show(spark.sql(query))

In [11]:
%pyspark
query = '''
SELECT 
    sex, 
    COUNT(PassengerId), 
    SUM(Survived), 
    (CAST(SUM(Survived) AS FLOAT) / COUNT(PassengerId)) 
FROM titanic_final
GROUP BY 1;
'''

z.show(spark.sql(query))

In [12]:
%pyspark
query = '''
SELECT
    SibSp,
    COUNT(*) AS TotalPassengers,
    SUM(Survived) AS TotalSurvived,
    AVG(Survived) AS SurvivalRate
FROM titanic_final
GROUP BY SibSp
ORDER BY SibSp;
'''

.show(spark.sql(query))

In [13]:
%pyspark
query = '''
SELECT
    Parch,
    COUNT(*) AS TotalPassengers,
    SUM(Survived) AS TotalSurvived,
    AVG(Survived) AS SurvivalRate
FROM titanic_final
GROUP BY Parch
ORDER BY Parch;
'''

z.show(spark.sql(query))

In [14]:
%pyspark

# 등급 별 승객 인원
query = '''
SELECT
    Pclass, 
    COUNT(Pclass) 
FROM titanic_final
GROUP BY Pclass;

'''

z.show(spark.sql(query))

In [15]:
%pyspark
query = '''
SELECT
    Pclass,
    Count(Pclass)
FROM titanic_final
WHERE Survived = 1
GROUP BY Pclass;
'''

z.show(spark.sql(query))

In [16]:
%pyspark

In [17]:
%pyspark

spark.stop()

%pyspark